.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db

/report/*_files/
/report/*.html
/report/*.pdf
/report/*.docx

outputs/figures/*.png
outputs/figures/*.jpg
outputs/figures/*.svg
outputs/tables/*.html

data/processed/*.csv
data/processed/*.rds
